body{
  margin:0;
  background: #F4F1EA;
}
.App{
  margin:20px auto;
  width: 90%;
  max-width: 700px;
  background: #fff;
  color:white;
}
.navbar{
  padding:10px 20px;
  text-align: center;
  background: #2bd7f0;
}
.navbar h1{
  margin: 10px 0;
}
form{
  padding:10px;
}
input[type="text"]{
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #F4F1EA;
  color: white;
  border:0;
  border-radius: 5px;
}
input[type="submit"]{
  margin: 10px auto;
  background: #eee;
  border:0;
  padding:10px 20px;
  display: block;
  border-radius: 5px;
}
